/* Voor alle vragen */
body, html {
  height: 100%;
}

body {
  background-image: url("Background1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

img {
  position: fixed;
  width: 540px;
  height: 340px;
  padding-left: 32%;
  max-width: 300%;
  max-height: 300%;
}

table {
  width: 100%;
  padding-left: 22%;
  padding-top: 25%;
  padding-bottom: 10%;
  color: cyan;
  
}
table {
  height: 100%;
  font-size: 30px;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: cyan;
}

/* Hier eindigt vragen */

/* Nu win scherm */

body, html {
  height: 100%;
}

body {
  background-image: url("Win_page_Background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 70px;
  color: white;
  padding-top: 17%;
}

/* Hier eindigt win scherm */

/* Hier begint doorgaan of geld */

h1 {
  border-style: solid;
  font-size: 50px;
  color: blue;
  margin: auto;
  width: 25%;
  padding: 60px;
  padding-top: 5%;
}

h2 {
  border-style: solid;
  font-size: 50px;
  color: blue;
  margin: auto;
  width: 25%;
  padding: 60px;
  padding-top: 5%;
}

body {
  background-image: url("Background_Doorgaan_Of_Geld.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Hier eindigt doorgaan of geld */



