body, html {
  height: 100%;
}

body {
  background-image: url("Background2.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


table {
  width: 100%;
  padding-left: 20%;
  padding-top: 30%;
}

table {
  height: 100%;
}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    Hello world
    <p id = "jesper"> Jesper hello! </p>
    <script src="script.js"></script>
  </body>
</html>
